* {
  font-family: monaco;
}

#container {
	margin: 0 auto;
	width: 60%;
	border: 1px solid black;
	padding: 10px;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
    border: 1px solid black;
}

tr:nth-child(even){
	background-color: #f2f2f2
}

h1 {
	text-align: center;
	background-color: maroon;
	color: white;
	font-family: "comical";
	font-size: 50px;
	padding: 20px 0px 20px 0px;
}

h2 {
	color: maroon;
}

.red{
	background-color: red;
	box-shadow: 0 2px black;
	border: 1px solid black;
}

.grey{
	background-color: grey;
	box-shadow: 0 3px black;
	border: 1px solid black;
}